@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-orange-cso: #ffa500;
    --color-purple-cso-bg: #2e112d;
    --color-purple-cso-main: #270d26;
    --color-grey-cso-light: #9e9e9e;
    --color-grey-cso-darklight: #626262;
    --color-grey-cso-dark: #3c3c3c;

    --color-cso-input-border: #424242;
    --color-cso-input: #0000004f;

    --radius-cso: 10px;

    --heroui-radius-large: var(--radius-cso);
}