@font-face {
    font-family: "icons-cso";
    src: url("../assets/fonts/icon-font/icons-cso.eot?v=1");
    src:
        url("../assets/fonts/icon-font/icons-cso.eot?v=1#iefix")
            format("embedded-opentype"),
        url("../assets/fonts/icon-font/icons-cso.ttf?v=1") format("truetype"),
        url("../assets/fonts/icon-font/icons-cso.woff?v=1") format("woff"),
        url("../assets/fonts/icon-font/icons-cso.svg?v=1#icons-cso")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons-cso" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-portrait:before {
    content: "\e9b0";
}
.icon-user-circle:before {
    content: "\e936";
}
.icon-user:before {
    content: "\e940";
}
.icon-user-shield:before {
    content: "\e93e";
}
.icon-user-clock:before {
    content: "\e94d";
}
.icon-users:before {
    content: "\e93f";
}
.icon-king:before {
    content: "\e99a";
}
.icon-king2:before {
    content: "\e999";
}
.icon-walking:before {
    content: "\e97d";
}
.icon-running:before {
    content: "\e941";
}
.icon-biking:before {
    content: "\e9db";
}
.icon-wheelchair:before {
    content: "\e9f2";
}
.icon-swimmer:before {
    content: "\e9e2";
}
.icon-people-arrows:before {
    content: "\e946";
}
.icon-street-view:before {
    content: "\e9f1";
}
.icon-pray:before {
    content: "\e9e8";
}
.icon-angel:before {
    content: "\e9cf";
}
.icon-mars:before {
    content: "\e960";
}
.icon-venus:before {
    content: "\e95e";
}
.icon-transgender:before {
    content: "\e95f";
}
.icon-genderless:before {
    content: "\e961";
}
.icon-laugh-squint:before {
    content: "\e935";
}
.icon-laugh:before {
    content: "\e9f9";
}
.icon-smile:before {
    content: "\e9fa";
}
.icon-face-meh:before {
    content: "\e9ba";
}
.icon-frown:before {
    content: "\e9fb";
}
.icon-face-sad-tear:before {
    content: "\ea98";
}
.icon-sad-cry:before {
    content: "\e9fc";
}
.icon-face-surprise:before {
    content: "\ea99";
}
.icon-dead:before {
    content: "\ea43";
}
.icon-face-angry:before {
    content: "\ea9a";
}
.icon-devil:before {
    content: "\ea42";
}
.icon-smile-angel:before {
    content: "\eabc";
}
.icon-alien:before {
    content: "\e9ce";
}
.icon-robot:before {
    content: "\e982";
}
.icon-ghost:before {
    content: "\ea44";
}
.icon-cross:before {
    content: "\ea84";
}
.icon-skull:before {
    content: "\e9fd";
}
.icon-skull-crossbones:before {
    content: "\e986";
}
.icon-thumbs-up:before {
    content: "\ea90";
}
.icon-thumbs-down:before {
    content: "\ea91";
}
.icon-fist-raised:before {
    content: "\e976";
}
.icon-hand-paper:before {
    content: "\e9b9";
}
.icon-hand-sparkles:before {
    content: "\e9a0";
}
.icon-hand-pointer:before {
    content: "\e9be";
}
.icon-hands-helping:before {
    content: "\e9a2";
}
.icon-give:before {
    content: "\eaea";
}
.icon-paiditem:before {
    content: "\e99c";
}
.icon-lootitem:before {
    content: "\e99b";
}
.icon-sellitem:before {
    content: "\eae9";
}
.icon-hand-holding-usd:before {
    content: "\e96b";
}
.icon-hand-holding-heart:before {
    content: "\e9e5";
}
.icon-hand-holding-water:before {
    content: "\e94b";
}
.icon-hand-holding-magic:before {
    content: "\e9de";
}
.icon-praying-hands:before {
    content: "\e9e9";
}
.icon-paw:before {
    content: "\e9a5";
}
.icon-paw-claws:before {
    content: "\e9d0";
}
.icon-poop:before {
    content: "\e9ff";
}
.icon-virus:before {
    content: "\eaae";
}
.icon-bug:before {
    content: "\e9fe";
}
.icon-spider:before {
    content: "\e9a3";
}
.icon-bat:before {
    content: "\ea71";
}
.icon-crow:before {
    content: "\ea22";
}
.icon-turtle:before {
    content: "\ea80";
}
.icon-frog:before {
    content: "\ead8";
}
.icon-octopus-deploy-brands:before {
    content: "\e9b3";
}
.icon-fish:before {
    content: "\ea60";
}
.icon-mouse:before {
    content: "\ea45";
}
.icon-cat:before {
    content: "\ea7d";
}
.icon-dog:before {
    content: "\ea7e";
}
.icon-horse:before {
    content: "\e9e7";
}
.icon-unicorn:before {
    content: "\e9d4";
}
.icon-dinausor:before {
    content: "\ead9";
}
.icon-dragon:before {
    content: "\e985";
}
.icon-hat-wizard:before {
    content: "\e983";
}
.icon-spellbook:before {
    content: "\e919";
}
.icon-sparkles:before {
    content: "\e9d2";
}
.icon-staff:before {
    content: "\e9d3";
}
.icon-magicwand:before {
    content: "\e99d";
}
.icon-magic:before {
    content: "\e96f";
}
.icon-broom:before {
    content: "\ea72";
}
.icon-crystal-ball:before {
    content: "\ea23";
}
.icon-cauldron:before {
    content: "\ea73";
}
.icon-flask:before {
    content: "\e9ea";
}
.icon-potion:before {
    content: "\e916";
}
.icon-bomb:before {
    content: "\e9dc";
}
.icon-trap:before {
    content: "\ea61";
}
.icon-band-aid:before {
    content: "\e9d9";
}
.icon-blood:before {
    content: "\ea81";
}
.icon-capsules:before {
    content: "\e9e0";
}
.icon-brain:before {
    content: "\e9a1";
}
.icon-knowledge:before {
    content: "\e915";
}
.icon-graduation-cap:before {
    content: "\e970";
}
.icon-boxes:before {
    content: "\e972";
}
.icon-archive:before {
    content: "\e9dd";
}
.icon-inbox:before {
    content: "\eae1";
}
.icon-books:before {
    content: "\ea38";
}
.icon-book:before {
    content: "\e937";
}
.icon-book-open:before {
    content: "\ea18";
}
.icon-bookmark-regular:before {
    content: "\e963";
}
.icon-scroll:before {
    content: "\e96e";
}
.icon-feather:before {
    content: "\eabd";
}
.icon-envelope:before {
    content: "\eadf";
}
.icon-comment-alt:before {
    content: "\e92f";
}
.icon-paper-plane:before {
    content: "\eae0";
}
.icon-heart:before {
    content: "\e9f6";
}
.icon-peace:before {
    content: "\eae2";
}
.icon-yin-yang:before {
    content: "\e9ed";
}
.icon-yin-yang-reverse:before {
    content: "\eaba";
}
.icon-clover:before {
    content: "\eab5";
}
.icon-wreath-laurel:before {
    content: "\eac5";
}
.icon-trophy:before {
    content: "\ea69";
}
.icon-star:before {
    content: "\e9ec";
}
.icon-star-half-alt:before {
    content: "\e929";
}
.icon-theater-masks:before {
    content: "\e9e3";
}
.icon-baseball-ball:before {
    content: "\e9da";
}
.icon-dumbbell:before {
    content: "\e98d";
}
.icon-target:before {
    content: "\e997";
}
.icon-cards-blank:before {
    content: "\ea9c";
}
.icon-card-spade:before {
    content: "\ea9e";
}
.icon-card-heart:before {
    content: "\ea9f";
}
.icon-card-club:before {
    content: "\eaa0";
}
.icon-card-diamond:before {
    content: "\eaa1";
}
.icon-dice-six:before {
    content: "\e927";
}
.icon-chess-piece:before {
    content: "\ea9d";
}
.icon-gamepad:before {
    content: "\e95a";
}
.icon-guitar:before {
    content: "\ea82";
}
.icon-music:before {
    content: "\e9e4";
}
.icon-radio:before {
    content: "\eac1";
}
.icon-television:before {
    content: "\eac0";
}
.icon-video:before {
    content: "\eab4";
}
.icon-camera:before {
    content: "\e9af";
}
.icon-image:before {
    content: "\e9b4";
}
.icon-flash-light:before {
    content: "\eabb";
}
.icon-lightbulb:before {
    content: "\e9ca";
}
.icon-bolt:before {
    content: "\e9df";
}
.icon-tornado:before {
    content: "\ea85";
}
.icon-wind:before {
    content: "\ea00";
}
.icon-snowflake:before {
    content: "\e9f4";
}
.icon-tint:before {
    content: "\e978";
}
.icon-fire:before {
    content: "\ea01";
}
.icon-burn:before {
    content: "\e977";
}
.icon-leaf:before {
    content: "\ea46";
}
.icon-tree:before {
    content: "\ea47";
}
.icon-hill-rockslide:before {
    content: "\ea62";
}
.icon-mountain-sun:before {
    content: "\ea63";
}
.icon-water:before {
    content: "\ea64";
}
.icon-cloud:before {
    content: "\eab6";
}
.icon-sun:before {
    content: "\e9cd";
}
.icon-moon:before {
    content: "\e9cc";
}
.icon-beach:before {
    content: "\eada";
}
.icon-cactus:before {
    content: "\eadb";
}
.icon-cowskull:before {
    content: "\eadc";
}
.icon-biohazard:before {
    content: "\eabe";
}
.icon-biohazard1:before {
    content: "\eabf";
}
.icon-explosion:before {
    content: "\eacd";
}
.icon-city:before {
    content: "\ea02";
}
.icon-hotel:before {
    content: "\ea92";
}
.icon-school:before {
    content: "\ea93";
}
.icon-hospital:before {
    content: "\ea94";
}
.icon-village:before {
    content: "\ea65";
}
.icon-shop:before {
    content: "\ea95";
}
.icon-house:before {
    content: "\ea3b";
}
.icon-bed:before {
    content: "\e95b";
}
.icon-snooze:before {
    content: "\ea83";
}
.icon-firecamp:before {
    content: "\e995";
}
.icon-campground:before {
    content: "\ea04";
}
.icon-dungeon:before {
    content: "\e94a";
}
.icon-castle:before {
    content: "\ea3d";
}
.icon-sailboat:before {
    content: "\ea29";
}
.icon-tire:before {
    content: "\eaaf";
}
.icon-wagon:before {
    content: "\ea66";
}
.icon-bicycle:before {
    content: "\ea26";
}
.icon-motorcycle:before {
    content: "\ea27";
}
.icon-car:before {
    content: "\e9a6";
}
.icon-plane:before {
    content: "\ea03";
}
.icon-jet-fighter:before {
    content: "\ea28";
}
.icon-rocket:before {
    content: "\e9eb";
}
.icon-spaceship:before {
    content: "\ea33";
}
.icon-flag:before {
    content: "\ea6e";
}
.icon-map-marker-alt:before {
    content: "\ea06";
}
.icon-compass:before {
    content: "\ea07";
}
.icon-galaxy:before {
    content: "\ea3c";
}
.icon-solar-system:before {
    content: "\eacb";
}
.icon-planet:before {
    content: "\eacc";
}
.icon-globe-europe:before {
    content: "\e9f0";
}
.icon-world-map:before {
    content: "\ea1d";
}
.icon-eye:before {
    content: "\e969";
}
.icon-mouth:before {
    content: "\ea86";
}
.icon-nose:before {
    content: "\ea87";
}
.icon-ear:before {
    content: "\ea88";
}
.icon-mustache:before {
    content: "\ea89";
}
.icon-glasses:before {
    content: "\e993";
}
.icon-hat-cowboy-side:before {
    content: "\ea2d";
}
.icon-pirate-hat:before {
    content: "\ea2c";
}
.icon-crown:before {
    content: "\e939";
}
.icon-hood-cloak:before {
    content: "\ea34";
}
.icon-vest:before {
    content: "\ea2a";
}
.icon-shirt:before {
    content: "\ea2b";
}
.icon-mitten:before {
    content: "\ea74";
}
.icon-pants:before {
    content: "\ea75";
}
.icon-boot:before {
    content: "\ea67";
}
.icon-shoe-prints:before {
    content: "\e980";
}
.icon-helmet:before {
    content: "\e914";
}
.icon-cuirass:before {
    content: "\e9f3";
}
.icon-gauntlets:before {
    content: "\eae4";
}
.icon-legplates:before {
    content: "\eae5";
}
.icon-greaves:before {
    content: "\eae6";
}
.icon-shield:before {
    content: "\e917";
}
.icon-shield-alt:before {
    content: "\e971";
}
.icon-pickaxe:before {
    content: "\eab7";
}
.icon-hammer:before {
    content: "\e97b";
}
.icon-gun:before {
    content: "\e9e1";
}
.icon-rifle:before {
    content: "\ea24";
}
.icon-raygun:before {
    content: "\ea25";
}
.icon-ammo:before {
    content: "\e98b";
}
.icon-twoswords:before {
    content: "\e91c";
}
.icon-sword:before {
    content: "\e91a";
}
.icon-axe:before {
    content: "\e91d";
}
.icon-saber:before {
    content: "\ea2e";
}
.icon-sword1:before {
    content: "\e996";
}
.icon-bow:before {
    content: "\e90e";
}
.icon-coin:before {
    content: "\e998";
}
.icon-database:before {
    content: "\e9e6";
}
.icon-coins:before {
    content: "\e93c";
}
.icon-bag:before {
    content: "\e90c";
}
.icon-scale-balanced:before {
    content: "\eae7";
}
.icon-key:before {
    content: "\ea68";
}
.icon-briefcase:before {
    content: "\e979";
}
.icon-chest:before {
    content: "\e90f";
}
.icon-gift:before {
    content: "\e96a";
}
.icon-gem:before {
    content: "\e953";
}
.icon-weight-hanging:before {
    content: "\e955";
}
.icon-bagpack:before {
    content: "\e90d";
}
.icon-drumstick-bite:before {
    content: "\e973";
}
.icon-candy:before {
    content: "\eac4";
}
.icon-apple-whole:before {
    content: "\ea6a";
}
.icon-food:before {
    content: "\ea6b";
}
.icon-glass:before {
    content: "\ea6c";
}
.icon-beer:before {
    content: "\ea6d";
}
.icon-bottle-water:before {
    content: "\eace";
}
.icon-mobile-alt:before {
    content: "\e934";
}
.icon-tablet-alt:before {
    content: "\e930";
}
.icon-laptop:before {
    content: "\ea05";
}
.icon-door-open:before {
    content: "\e987";
}
.icon-door-closed:before {
    content: "\e988";
}
.icon-gm-screen:before {
    content: "\ea37";
}
.icon-map:before {
    content: "\ea36";
}
.icon-edit:before {
    content: "\e956";
}
.icon-pencil-alt:before {
    content: "\e957";
}
.icon-pen:before {
    content: "\e958";
}
.icon-ruler:before {
    content: "\eade";
}
.icon-paintbrush-fine:before {
    content: "\ea9b";
}
.icon-paint-roller:before {
    content: "\e9bd";
}
.icon-fill-drip:before {
    content: "\e9bc";
}
.icon-palette:before {
    content: "\e9bb";
}
.icon-cog:before {
    content: "\e93a";
}
.icon-save:before {
    content: "\e933";
}
.icon-print:before {
    content: "\e9bf";
}
.icon-trash-alt:before {
    content: "\e965";
}
.icon-share-alt:before {
    content: "\e967";
}
.icon-search:before {
    content: "\e954";
}
.icon-filter:before {
    content: "\e9a4";
}
.icon-shopping-cart:before {
    content: "\e96d";
}
.icon-donate:before {
    content: "\e96c";
}
.icon-money-bill:before {
    content: "\eab0";
}
.icon-table:before {
    content: "\e931";
}
.icon-as:before {
    content: "\ea1f";
}
.icon-asmod:before {
    content: "\ea20";
}
.icon-aspercent:before {
    content: "\ea21";
}
.icon-battery-half:before {
    content: "\e97c";
}
.icon-lifebar:before {
    content: "\e994";
}
.icon-stream-overlay:before {
    content: "\e959";
}
.icon-gauge-min:before {
    content: "\eac9";
}
.icon-tachometer-alt:before {
    content: "\e97e";
}
.icon-gauge-max:before {
    content: "\eaca";
}
.icon-hourglass-end:before {
    content: "\e942";
}
.icon-hourglass-start:before {
    content: "\e945";
}
.icon-clock:before {
    content: "\e950";
}
.icon-history:before {
    content: "\e94e";
}
.icon-infinity:before {
    content: "\eac7";
}
.icon-lock:before {
    content: "\e981";
}
.icon-lock-open:before {
    content: "\ea15";
}
.icon-reset-password:before {
    content: "\eae3";
}
.icon-eye-slash:before {
    content: "\e968";
}
.icon-link:before {
    content: "\ea3e";
}
.icon-link-slash:before {
    content: "\ea76";
}
.icon-globe:before {
    content: "\e922";
}
.icon-unglobe:before {
    content: "\eac2";
}
.icon-copy-creature:before {
    content: "\ea7f";
}
.icon-copy:before {
    content: "\e966";
}
.icon-file:before {
    content: "\e9c4";
}
.icon-file-pdf:before {
    content: "\e9c5";
}
.icon-file-download:before {
    content: "\ea0f";
}
.icon-file-upload:before {
    content: "\ea10";
}
.icon-import:before {
    content: "\ea3f";
}
.icon-export:before {
    content: "\eadd";
}
.icon-download:before {
    content: "\ea11";
}
.icon-upload:before {
    content: "\ea12";
}
.icon-ellipsis-h:before {
    content: "\e97a";
}
.icon-ellipsis-v:before {
    content: "\ea13";
}
.icon-power-off:before {
    content: "\e93b";
}
.icon-image-regular:before {
    content: "\e9ae";
}
.icon-play-animation:before {
    content: "\ea39";
}
.icon-stop-animation:before {
    content: "\ea3a";
}
.icon-volume-mute:before {
    content: "\ea0b";
}
.icon-volume-down:before {
    content: "\ea0a";
}
.icon-volume-up:before {
    content: "\ea09";
}
.icon-bell:before {
    content: "\e9c8";
}
.icon-bell-slash:before {
    content: "\e9c7";
}
.icon-wifi:before {
    content: "\e9c3";
}
.icon-wifi-slash:before {
    content: "\e9c6";
}
.icon-signal-stream:before {
    content: "\eab1";
}
.icon-signal-stream-slash:before {
    content: "\eab2";
}
.icon-qrcode:before {
    content: "\eab3";
}
.icon-life-ring:before {
    content: "\e974";
}
.icon-triangle-exclamation:before {
    content: "\eaaa";
}
.icon-info:before {
    content: "\e9ee";
}
.icon-info-circle:before {
    content: "\e9ef";
}
.icon-question-circle-regular:before {
    content: "\e962";
}
.icon-question-circle:before {
    content: "\e975";
}
.icon-separator:before {
    content: "\e98c";
}
.icon-grip-lines:before {
    content: "\e9b7";
}
.icon-grip-lines-vertical:before {
    content: "\e9b8";
}
.icon-list-ul:before {
    content: "\e992";
}
.icon-list:before {
    content: "\e925";
}
.icon-sliders-h:before {
    content: "\e92d";
}
.icon-bars:before {
    content: "\e92b";
}
.icon-chart-bar:before {
    content: "\e9b5";
}
.icon-poll:before {
    content: "\ea08";
}
.icon-chart-pie:before {
    content: "\e9b6";
}
.icon-arrow-down-wide-short:before {
    content: "\ea8a";
}
.icon-arrow-up-wide-short:before {
    content: "\ea8b";
}
.icon-number-0:before {
    content: "\eacf";
}
.icon-number-1:before {
    content: "\e9ac";
}
.icon-number-2:before {
    content: "\ead0";
}
.icon-number-3:before {
    content: "\ead1";
}
.icon-number-4:before {
    content: "\ead2";
}
.icon-number-5:before {
    content: "\ead3";
}
.icon-number-6:before {
    content: "\ead4";
}
.icon-number-7:before {
    content: "\ead5";
}
.icon-number-8:before {
    content: "\ead6";
}
.icon-number-9:before {
    content: "\ead7";
}
.icon-number1-9:before {
    content: "\e9ad";
}
.icon-percentage:before {
    content: "\e991";
}
.icon-paragraph:before {
    content: "\e989";
}
.icon-text:before {
    content: "\e91b";
}
.icon-font:before {
    content: "\e98a";
}
.icon-hashtag:before {
    content: "\ea1e";
}
.icon-sigma:before {
    content: "\e9d1";
}
.icon-user-plus:before {
    content: "\e9f5";
}
.icon-address-card:before {
    content: "\e938";
}
.icon-add-creature:before {
    content: "\ea40";
}
.icon-bestiary:before {
    content: "\ea41";
}
.icon-add-npc:before {
    content: "\eaa8";
}
.icon-premade-npc:before {
    content: "\eaa9";
}
.icon-key-point:before {
    content: "\eab8";
}
.icon-icons:before {
    content: "\e92e";
}
.icon-dice-d6:before {
    content: "\e9b2";
}
.icon-dice-d8:before {
    content: "\e9a8";
}
.icon-dice-d10:before {
    content: "\e9a9";
}
.icon-dice-d12:before {
    content: "\e9aa";
}
.icon-dice-d20:before {
    content: "\e984";
}
.icon-dice-d100:before {
    content: "\e9ab";
}
.icon-dice-d4:before {
    content: "\e9a7";
}
.icon-column1:before {
    content: "\e98e";
}
.icon-column2:before {
    content: "\e98f";
}
.icon-column3:before {
    content: "\e990";
}
.icon-crop-simple:before {
    content: "\ea96";
}
.icon-expand:before {
    content: "\ea97";
}
.icon-lock-down:before {
    content: "\ea16";
}
.icon-unlock-down:before {
    content: "\ea17";
}
.icon-square-regular:before {
    content: "\e952";
}
.icon-square:before {
    content: "\e951";
}
.icon-circle-regular:before {
    content: "\eb58";
}
.icon-adjust:before {
    content: "\e9cb";
}
.icon-circle:before {
    content: "\eb59";
}
.icon-diamondempty:before {
    content: "\e913";
}
.icon-diamond:before {
    content: "\e911";
}
.icon-minus-circle:before {
    content: "\eb5a";
}
.icon-plus-circle:before {
    content: "\eb60";
}
.icon-minus:before {
    content: "\eb5c";
}
.icon-plus:before {
    content: "\eb5b";
}
.icon-play-circle:before {
    content: "\eb5f";
}
.icon-back:before {
    content: "\ea70";
}
.icon-play:before {
    content: "\eb6d";
}
.icon-pause:before {
    content: "\eb6c";
}
.icon-step-back:before {
    content: "\ea6f";
}
.icon-step-forward:before {
    content: "\e97f";
}
.icon-check-square:before {
    content: "\e92a";
}
.icon-check:before {
    content: "\e964";
}
.icon-times-circle:before {
    content: "\eb5e";
}
.icon-times:before {
    content: "\eb5d";
}
.icon-equals:before {
    content: "\eb61";
}
.icon-chevron-circle-left:before {
    content: "\e95d";
}
.icon-chevron-circle-right:before {
    content: "\e95c";
}
.icon-angle-left:before {
    content: "\e9d6";
}
.icon-angle-right:before {
    content: "\e9d7";
}
.icon-angle-down:before {
    content: "\e9d5";
}
.icon-angle-up:before {
    content: "\e9d8";
}
.icon-arrows-alt:before {
    content: "\e9c0";
}
.icon-expand-arrows-alt:before {
    content: "\e9c1";
}
.icon-compress-arrows-alt:before {
    content: "\e9c2";
}
.icon-arrow-left:before {
    content: "\e99e";
}
.icon-arrow-right:before {
    content: "\e99f";
}
.icon-sync-alt:before {
    content: "\e94c";
}
.icon-redo-alt:before {
    content: "\ea0c";
}
.icon-undo-alt:before {
    content: "\ea0d";
}

/**------------------------------------------- Other Style Icon -----------------------------------**/
.icon-dice4:before {
    content: "\e900";
}
.icon-dice6:before {
    content: "\e901";
}
.icon-dice8:before {
    content: "\e902";
}
.icon-dice10:before {
    content: "\e903";
}
.icon-dice12:before {
    content: "\e904";
}
.icon-dice20:before {
    content: "\e905";
}
.icon-dice100:before {
    content: "\e906";
}
.icon-dicebox:before {
    content: "\e907";
}
.icon-dicefav:before {
    content: "\e908";
}
.icon-dicefav1:before {
    content: "\e909";
}
.icon-dicefav2:before {
    content: "\e90a";
}
.icon-dicefav3:before {
    content: "\e90b";
}
.icon-logo-icon:before {
    content: "\e9c9";
}
.icon-d-and-d-brands:before {
    content: "\e9b1";
}
.icon-king1:before {
    content: "\ea19";
}
.icon-character-1:before {
    content: "\eaab";
}
.icon-paw-print:before {
    content: "\ea77";
}
.icon-visored-helm:before {
    content: "\e943";
}
.icon-dwarf-helmet:before {
    content: "\eb54";
}
.icon-wizard-face:before {
    content: "\ea1a";
}
.icon-woman-elf-face:before {
    content: "\eb55";
}
.icon-orc-head:before {
    content: "\e944";
}
.icon-witch-face:before {
    content: "\ea48";
}
.icon-pirate-captain:before {
    content: "\ea78";
}
.icon-bandit:before {
    content: "\ea79";
}
.icon-vampire-dracula:before {
    content: "\ea49";
}
.icon-oni:before {
    content: "\ea4a";
}
.icon-horned-reptile:before {
    content: "\ea8c";
}
.icon-kenku-head:before {
    content: "\ea8d";
}
.icon-wolf-head:before {
    content: "\ea4b";
}
.icon-horus:before {
    content: "\eaac";
}
.icon-mummy-head:before {
    content: "\ea4c";
}
.icon-chewed-skull:before {
    content: "\ea4d";
}
.icon-frankenstein-creature:before {
    content: "\ea4e";
}
.icon-spectre:before {
    content: "\ea4f";
}
.icon-djinn:before {
    content: "\eaad";
}
.icon-mermaid:before {
    content: "\eac3";
}
.icon-dinosaur-rex:before {
    content: "\eac6";
}
.icon-dragon-head:before {
    content: "\e918";
}
.icon-evil-tree:before {
    content: "\ea50";
}
.icon-golem-head:before {
    content: "\ea51";
}
.icon-ogre:before {
    content: "\ea52";
}
.icon-jawless-cyclop:before {
    content: "\ea8e";
}
.icon-lizardman:before {
    content: "\ea53";
}
.icon-toad-teeth:before {
    content: "\ea54";
}
.icon-goblin:before {
    content: "\ea55";
}
.icon-triton-head:before {
    content: "\eac8";
}
.icon-eyestalk:before {
    content: "\ea8f";
}
.icon-slime:before {
    content: "\ea56";
}
.icon-spark-spirit:before {
    content: "\ea57";
}
.icon-mimic-chest:before {
    content: "\ea58";
}
.icon-carnivorous-plant:before {
    content: "\ea59";
}
.icon-spider-alt:before {
    content: "\ea7a";
}
.icon-metroid:before {
    content: "\ea5a";
}
.icon-alien-stare:before {
    content: "\ea7b";
}
.icon-cyborg-face:before {
    content: "\ea7c";
}
.icon-android-mask:before {
    content: "\ea5b";
}
.icon-fairy:before {
    content: "\ea5c";
}
.icon-cloaked-figure-on-horseback:before {
    content: "\ea5d";
}
.icon-unicorn-head:before {
    content: "\ea5e";
}
.icon-camping-tent:before {
    content: "\e948";
}
.icon-treasure-map:before {
    content: "\eb48";
}
.icon-coinsstack:before {
    content: "\e94f";
}
.icon-swap-bag:before {
    content: "\e920";
}
.icon-cash:before {
    content: "\ea2f";
}
.icon-chest1:before {
    content: "\eb51";
}
.icon-backpack:before {
    content: "\e91f";
}
.icon-school-bag:before {
    content: "\ea30";
}
.icon-hand-bag:before {
    content: "\ea31";
}
.icon-suitcase:before {
    content: "\ea32";
}
.icon-breastplate:before {
    content: "\eb50";
}
.icon-battle-gear:before {
    content: "\e91e";
}
.icon-fairy-wand:before {
    content: "\ea5f";
}
.icon-crystal-wand:before {
    content: "\e924";
}
.icon-relic-blade:before {
    content: "\e926";
}
.icon-battered-axe:before {
    content: "\e928";
}
.icon-pointy-hat:before {
    content: "\eb63";
}
.icon-viking-helmet:before {
    content: "\eb64";
}
.icon-shiny-apple:before {
    content: "\e92c";
}
.icon-potion-ball:before {
    content: "\e912";
}
.icon-weight-lifting-up:before {
    content: "\e93d";
}
.icon-sands-of-time:before {
    content: "\e932";
}
.icon-life-bar:before {
    content: "\e910";
}
.icon-bolt-drop:before {
    content: "\eb4e";
}
.icon-classical-knowledge:before {
    content: "\eb56";
}
.icon-spell-book:before {
    content: "\e921";
}
.icon-bookmarklet:before {
    content: "\ea1b";
}
.icon-book-pile:before {
    content: "\ea1c";
}
.icon-tied-scroll:before {
    content: "\eb49";
}
.icon-scroll-unfurled:before {
    content: "\e923";
}
.icon-stabbed-note:before {
    content: "\e949";
}
.icon-smartphone:before {
    content: "\eb46";
}
.icon-pencil1:before {
    content: "\eb45";
}
.icon-skills:before {
    content: "\eaa2";
}
.icon-id-card:before {
    content: "\eb65";
}
.icon-disc:before {
    content: "\eb6a";
}
.icon-world:before {
    content: "\e947";
}
.icon-palette1:before {
    content: "\eaa3";
}
.icon-cubes:before {
    content: "\eaa4";
}
.icon-sound-on:before {
    content: "\eaa6";
}
.icon-discussion:before {
    content: "\eaa7";
}
.icon-cog1:before {
    content: "\eab9";
}
.icon-discord-brands:before {
    content: "\ea14";
}
.icon-x-twitter-brands:before {
    content: "\eae8";
}
.icon-facebook-f-brands:before {
    content: "\ea0e";
}
.icon-instagram:before {
    content: "\ea35";
}
.icon-twitch:before {
    content: "\eaa5";
}
.icon-google-brands:before {
    content: "\e9f8";
}
.icon-youtube-brands:before {
    content: "\e9f7";
}

/******************************** Theme Inventory Icons *********************************/
.icon-t-inventory:before {
    content: "\f000";
}
.icon-t-weapon1:before {
    content: "\f001";
}
.icon-t-weapon2:before {
    content: "\f002";
}
.icon-t-weapon3:before {
    content: "\f003";
}
.icon-t-weapon4:before {
    content: "\f004";
}
.icon-t-weapon5:before {
    content: "\f005";
}
.icon-t-weapon6:before {
    content: "\f006";
}
.icon-t-armor1:before {
    content: "\f007";
}
.icon-t-armor2:before {
    content: "\f008";
}
.icon-t-armor3:before {
    content: "\f009";
}
.icon-t-armor4:before {
    content: "\f010";
}
.icon-t-armor5:before {
    content: "\f011";
}
.icon-t-armor6:before {
    content: "\f012";
}
.icon-t-magic1:before {
    content: "\f013";
}
.icon-t-magic2:before {
    content: "\f014";
}
.icon-t-magic3:before {
    content: "\f015";
}
.icon-t-mount1:before {
    content: "\f016";
}
.icon-t-mount2:before {
    content: "\f017";
}
.icon-t-mount3:before {
    content: "\f018";
}
.icon-t-misc1:before {
    content: "\f019";
}
.icon-t-misc2:before {
    content: "\f020";
}
.icon-t-misc3:before {
    content: "\f021";
}
.icon-t-misc4:before {
    content: "\f022";
}
.icon-t-misc5:before {
    content: "\f023";
}
.icon-t-misc6:before {
    content: "\f024";
}
.icon-t-misc7:before {
    content: "\f025";
}
.icon-t-misc8:before {
    content: "\f026";
}
