.icon-t-weapon1:before {
  content: "\f001";
}
.icon-t-weapon2:before {
  content: "\f002";
}
.icon-t-weapon3:before {
  content: "\f003";
}
.icon-t-weapon4:before {
  content: "\f004";
}
.icon-t-weapon5:before {
  content: "\f005";
}
.icon-t-weapon6:before {
  content: "\f006";
}
.icon-t-armor1:before {
  content: "\f007";
}
.icon-t-armor2:before {
  content: "\f008";
}
.icon-t-armor3:before {
  content: "\f009";
}
.icon-t-armor4:before {
  content: "\f010";
}
.icon-t-armor5:before {
  content: "\f011";
}
.icon-t-armor6:before {
  content: "\f012";
}
.icon-t-magic1:before {
  content: "\f013";
}
.icon-t-magic2:before {
  content: "\f014";
}
.icon-t-magic3:before {
  content: "\f015";
}
.icon-t-mount1:before {
  content: "\f016";
}
.icon-t-mount2:before {
  content: "\f017";
}
.icon-t-mount3:before {
  content: "\f018";
}
.icon-t-misc1:before {
  content: "\f019";
}
.icon-t-misc2:before {
  content: "\f020";
}
.icon-t-misc3:before {
  content: "\f021";
}
.icon-t-misc4:before {
  content: "\f022";
}
.icon-t-misc5:before {
  content: "\f023";
}
.icon-t-misc6:before {
  content: "\f024";
}
.icon-t-misc7:before {
  content: "\f025";
}
.icon-t-misc8:before {
  content: "\f026";
}
